$color-main: (
  color-primary: #8ABB2A,
  color-black: #333333,
  color-white: #FFFFFF,
);

$color-type: (
  grey-01: #666666,
  grey-02: #999999,
  grey-03: #BBBBBB,
  grey-04: #CCCCCC,
  red-01: #D32F2F,
);

$color-background: (
  green-01: #16A085,
  skyblue-01: #3498DB,
  brwon-01: #8B4513,
  yellow-01: #FFA500,
  white-01: #FFFFFF,
  grey-01: #F3F3F3,
  grey-02: #F8F8F8,
  white-02: rgba(255, 255, 255, 0.6),
);

$color-line:(
  black-01: rgba(255, 255, 255, 0.1),
  grey-01: #60584C,
  grey-02: #DDDDDD,
  blue-01: #055CAB,
  blue-03: #0064FF,
  blue-02: #0046FF,
  green-01: #007D55,
  yellow-01: #FFEB00,
);

