$color-main: (
  color-primary: #8abb2a,
  color-black: #333333,
  color-white: #ffffff,
);

$color-type: (
  grey-01: #666666,
  grey-02: #999999,
  grey-03: #bbbbbb,
  grey-04: #cccccc,
  red-01: #d32f2f,
);

$color-background: (
  green-01: #16a085,
  skyblue-01: #3498db,
  brwon-01: #8b4513,
  red-01: #d32f2f,
  yellow-01: #ffa500,
  white-01: #ffffff,
  grey-01: #f3f3f3,
  grey-02: #f8f8f8,
  white-02: rgba(255, 255, 255, 0.6),
);

$color-line: (
  black-01: #333333,
  black-02: rgba(0, 0, 0, 0.1),
  grey-01: #60584c,
  grey-02: #dddddd,
  blue-01: #055cab,
  blue-03: #0064ff,
  blue-02: #0046ff,
  green-01: #007d55,
  yellow-01: #ffeb00,
);
