@charset "UTF-8";
/* library */
/* utils */
/* 배너 가운데 정렬 */
/* font 지정 */
/* 숨김 처리 */
/* common */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import "utils/variable.css";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a,
a:focus,
a:active,
a:hover {
  text-decoration: none;
  color: #333;
}

/* GmarketSans Fonts */
@font-face {
  font-family: "GmarketSans";
  font-weight: 700;
  src: url("../font/GmarketSansBold.woff2") format("woff2");
}
@font-face {
  font-family: "GmarketSans";
  font-weight: "500";
  src: url("../font/GmarketSansMedium.woff2") format("woff2");
}
@font-face {
  font-family: "GmarketSans";
  font-weight: 100;
  src: url("../font/GmarketSansLight.woff2") format("woff2");
}
/* NanumSquare Fonts */
@font-face {
  font-family: "NanumSquare";
  font-weight: 900;
  src: url("../font/NanumSquareExtraBold.woff2") format("woff2");
}
@font-face {
  font-family: "NanumSquare";
  font-weight: 700;
  src: url("../font/NanumSquareBold.woff2") format("woff2");
}
@font-face {
  font-family: "NanumSquare";
  font-weight: 400;
  src: url("../font/NanumSquareRegular.woff2") format("woff2");
}
@font-face {
  font-family: "NanumSquare";
  font-weight: 100;
  src: url("../font/NanumSquareLight.woff2") format("woff2");
}
body,
input,
select,
textarea,
button,
pre {
  font-size: 16px;
  font-family: "NanumSquare", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.blind,
caption span,
legend {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0, 0, 0, 0);
}

/* layout */
#common_container {
  width: 100%;
}

.common_header {
  max-width: 1200px;
  margin: 0 auto;
  border: 1px solid #333;
}

/* components */
.common_icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  font-size: 0;
  line-height: 0;
  vertical-align: middle;
}
.common_icon::after {
  display: inline-block;
  width: 100%;
  height: 100%;
  background: center/100% no-repeat;
  content: "";
}
.common_icon.ty_sm {
  width: 16px;
  height: 16px;
}
.common_icon.ty_xs {
  width: 12px;
  height: 12px;
}

.icon_black_close::after {
  background-image: url("../img/svg/black_close.svg");
}

.icon_delivery::after {
  background-image: url("../img/svg/delivery.svg");
}

.icon_fish::after {
  background-image: url("../img/svg/fish.svg");
}

.icon_footer_arrow_right::after {
  background-image: url("../img/svg/footer_arrow_right.svg");
}

.icon_gnb_arrow_right_active::after {
  background-image: url("../img/svg/gnb_arrow_right_active.svg");
}

.icon_gnb_arrow_right_static::after {
  background-image: url("../img/svg/gnb_arrow_right_static.svg");
}

.icon_home::after {
  background-image: url("../img/svg/home.svg");
}

.icon_leaf::after {
  background-image: url("../img/svg/leaf.svg");
}

.icon_meat::after {
  background-image: url("../img/svg/meat.svg");
}

.icon_nav_call_active::after {
  background-image: url("../img/svg/nav_call_active.svg");
}

.icon_nav_call_static::after {
  background-image: url("../img/svg/nav_call_static.svg");
}

.icon_nav_home_active::after {
  background-image: url("../img/svg/nav_home_active.svg");
}

.icon_nav_home_static::after {
  background-image: url("../img/svg/nav_home_static.svg");
}

.icon_nav_menu_active::after {
  background-image: url("../img/svg/nav_menu_active.svg");
}

.icon_nav_menu_static::after {
  background-image: url("../img/svg/nav_menu_static.svg");
}

.icon_nav_order_active::after {
  background-image: url("../img/svg/nav_order_active.svg");
}

.icon_nav_order_static::after {
  background-image: url("../img/svg/nav_order_static.svg");
}

.icon_nav_user_active::after {
  background-image: url("../img/svg/nav_user_active.svg");
}

.icon_nav_user_static::after {
  background-image: url("../img/svg/nav_user_static.svg");
}

.icon_plus::after {
  background-image: url("../img/svg/plus.svg");
}

.icon_ranking_down::after {
  background-image: url("../img/svg/ranking_down.svg");
}

.icon_ranking_maintain::after {
  background-image: url("../img/svg/ranking_maintain.svg");
}

.icon_ranking_up::after {
  background-image: url("../img/svg/ranking_up.svg");
}

.icon_search::after {
  background-image: url("../img/svg/search.svg");
}

.icon_select_arrow_down::after {
  background-image: url("../img/svg/select_arrow_down.svg");
}

.icon_select_arrow_up::after {
  background-image: url("../img/svg/select_arrow_up.svg");
}

.icon_shopping_active::after {
  background-image: url("../img/svg/shopping_active.svg");
}

.icon_shopping_static::after {
  background-image: url("../img/svg/shopping_static.svg");
}

.icon_swiper_arrow_next::after {
  background-image: url("../img/svg/swiper_arrow_next.svg");
}

.icon_swiper_arrow_prev::after {
  background-image: url("../img/svg/swiper_arrow_prev.svg");
}

.icon_white_close::after {
  background-image: url("../img/svg/white_close.svg");
}

/* 로고는 반응형에 따라 사이즈가 변경되어 따로 관리 */
.logo_v1 {
  width: 200px;
  height: 60px;
}
.logo_v1::after {
  background-image: url("../img/svg/logo_v1.svg");
}

.logo_v2 {
  width: 200px;
  height: 60px;
}
.logo_v2::after {
  background-image: url("../img/svg/logo_v2.svg");
}

/* pages *//*# sourceMappingURL=main.css.map */