/* GmarketSans Fonts */
@font-face {
  font-family: "GmarketSans";
  font-weight: 700;
  src: url('../font/GmarketSansBold.woff2') format('woff2');
}
@font-face {
  font-family: "GmarketSans";
  font-weight: 500;
  src: url('../font/GmarketSansMedium.woff2') format('woff2');
}
@font-face {
  font-family: "GmarketSans";
  font-weight: 100;
  src: url('../font/GmarketSansLight.woff2') format('woff2');
}
/* NanumSquare Fonts */
@font-face {
  font-family: "NanumSquare";
  font-weight: 900;
  src: url('../font/NanumSquareExtraBold.woff2') format('woff2');
}
@font-face {
  font-family: "NanumSquare";
  font-weight: 700;
  src: url('../font/NanumSquareBold.woff2') format('woff2');
}
@font-face {
  font-family: "NanumSquare";
  font-weight: 400;
  src: url('../font/NanumSquareRegular.woff2') format('woff2');
}
@font-face {
  font-family: "NanumSquare";
  font-weight: 900;
  src: url('../font/NanumSquareExtraBold.woff2') format('woff2');
}
@font-face {
  font-family: "NanumSquare";
  font-weight: 700;
  src: url('../font/NanumSquareBold.woff2') format('woff2');
}
@font-face {
  font-family: "NanumSquare";
  font-weight: 100;
  src: url('../font/NanumSquareRegular.woff2') format('woff2');
}
/* Roboto Fonts */
@font-face {
  font-family: "Roboto";
  font-weight: 700;
  src: url("../font/RobotoBold.woff2") format('woff2');
}