@media screen and (max-width: 1023px) {
  #app {
    display: block;
    & .common_app_container {
      @include respond-fixed-full(0px, null, null, 0px, 1000);
      display: none;
      &[aria-hidden="false"] {
        display: block;
      }
      &.header_search_app {
        & .search_header {
          @include inner;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 9px 20px 8px 20px;
          border-bottom: 1px solid map-get($color-main, black-01);
          & .header_cls_btn {
            padding: 4px;
          }
          & .header_search_input {
            padding: 0 10px;
            width: calc(100% - 64px);
            font-weight: 700;
            font-size: 14px;
            line-height: 20px;
            color: map-get($color-type, grey-01);
            &::placeholder {
              font-weight: 700;
              color: map-get($color-type, grey-04);
            }
            &:focus::placeholder {
              color: transparent;
            }
            &:focus {
              outline: none;
            }
          }
        }
        & .search_content {
          @include inner;
          & .recent_search_container {
            padding-top: 30px;
            & .recent_tit {
              display: flex;
              justify-content: space-between;
              align-items: center;
              & .tit {
                font-weight: 700;
                font-size: 20px;
                line-height: 30px;
              }
              & .entire_del_btn {
                & .entire_del_text {
                  font-size: 14px;
                  line-height: 20px;
                  color: map-get($color-main, color-primary);
                  text-decoration: underline;
                }
              }
            }
          }
          & .best_search_container {
            padding-top: 20px;
            & .best_tit {
              display: flex;
              justify-content: space-between;
              align-items: center;
              & .tit {
                font-weight: 700;
                font-size: 20px;
                line-height: 30px;
              }
              & .best_time {
                font-size: 14px;
                line-height: 20px;
                color: map-get($color-type, grey-01);
              }
            }
            & .best_list {
              display: flex;
              flex-wrap: wrap;
              margin-top: 20px;
              border-top: 1px solid map-get($color-line, grey-02);
              counter-reset: number;
              & .best_item {
                position: relative;
                padding: 17px 0 16px 54px;
                width: 50%;
                box-sizing: border-box;
                border-bottom: 1px solid map-get($color-line, grey-02);
                &::before {
                  position: absolute;
                  left: 0;
                  top: 50%;
                  display: flex;
                  justify-content: center;
                  width: 20px;
                  font-weight: 700;
                  font-size: 16px;
                  transform: translateY(-50%);
                  content: counter(number);
                  counter-increment: number;
                }
                &:nth-of-type(-n + 3)::before {
                  color: map-get($color-type, red-01);
                }
                &::after {
                  display: block;
                  position: absolute;
                  left: 24px;
                  top: 50%;
                  width: 16px;
                  height: 16px;
                  background: url('../img/sprites/sprites.png') no-repeat;
                  transform: translateY(-50%);
                  content: '';
                }
                &.maintain::after {
                  background-position: -0px -16px;
                }
                &.down::after {
                  background-position: -0px -0px;
                }
                &.up::after {
                  background-position: -16px -0px;
                }
              }
            }
          }
          & .ad_container {
            padding: 30px 0;
            & .ad_list {
              display: flex;
              & .ad_item {
                width: calc(50% - 10px);
                & + .ad_item {
                  margin-left: 20px;
                }
              }
              & img {
                width: 100%;
              }
            }
          }
        }
      }
      &.toolbar_category_app {
        & .category_header {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 8px 20px;
          background-color: map-get($color-main, color-black);
          & .user_btn_box {
            display: flex;
            align-items: center;
            & .user_btn {
              display: flex;
              align-items: center;
              & + .user_btn {
                margin-left: 15px;
              }
              & .btn_text {
                font-weight: 700;
                font-size: 14px;
                line-height: 20px;
                color: map-get($color-main, color-white);
              }
            }
          }
          & .close_btn {
            padding: 5px 0 5px 5px;
          }
        }
        & .category_content {
          & .category_content_list.dep1 {
            padding: 15px 20px;
            & .category_content_item {
              position: relative;
              & .category_content_link {
                display: block;
                font-weight: 700;
                line-height: 45px;
              }
              & .common_icon {
                @include position(14.5px, 0px, null, null, null);
              }
            }
            & .category_content_list.dep2 {
              display: none;
              padding: 10px 0;
              background-color: map-get($color-background, grey-02);
              &[aria-hidden="false"] {
                display: block;
              }
            }
            & .category_content_link {
              font-weight: 400;
              font-size: 14px;
              line-height: 40px;
              color: map-get($color-type, grey-01);
            }
          }
        }
      }
      & .prepare_header {
        display: flex;
        justify-content: flex-end;
        padding: 8px 20px;
        background-color: map-get($color-main, color-black);
        & .close_btn {
          padding: 5px 0px 5px 5px;
        }
      }
      & .prepare_message {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: calc(100% - 50px);
        color: map-get($color-main, color-black);
        & .main_message_text {
          padding: 20px 0;
          font-weight: 700;
          font-size: 30px;
        }
        & .sub_message_text {
          display: block;
          font-size: 14px;
          line-height: 20px;
          color: map-get($color-type, grey-01);
          text-align: center;
        }
      }
    }
  }
}
.prepare_header {
  display: flex;
  justify-content: flex-end;
  padding: 8px 20px;
  background-color: map-get($color-main, color-black);
  & .close_btn {
    padding: 5px 0px 5px 5px;
  }
}

@media screen and (min-width: 1024px) {
  #app {
    display: none;
  }
}