@media screen and (max-width: 1023px) {
  #app {
    & .common_app_container {
      &.header_search_app {
        @include respond-fixed-full(0px, null, null, 0px, 1001);
        display: none;
        &[aria-hidden="false"] {
          display: block;
        }
        & .search_header {
          @include inner;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 9px 20px 8px 20px;
          border-bottom: 1px solid map-get($color-main, black-01);
          & .header_cls_btn {
            padding: 4px 0px 4px 0px;
          }
          & .header_search_input {
            width: calc(100% - 64px);
            padding: 0 10px;
            font-weight: 700;
            font-size: 14px;
            line-height: 20px;
            color: map-get($color-main, color-black);
            &::placeholder {
              font-weight: 700;
              color: map-get($color-type, grey-04);
            }
            &:focus::placeholder {
              color: transparent;
            }
            &:focus {
              outline: none;
            }
          }
          & .header_search_btn {
            padding: 4px 0px 4px 0px;
          }
        }
        & .search_content {
          @include inner;
          & .recent_search {
            padding: 30px 0px 0px 0px;
            & .recent_tit {
              display: flex;
              justify-content: space-between;
              align-items: center;
              & .tit {
                font-weight: 700;
                font-size: 20px;
                line-height: 30px;
              }
              & .entire_del_btn {
                & .entire_del_text {
                  display: block;
                  font-size: 14px;
                  line-height: 20px;
                  color: map-get($color-main, color-primary);
                  text-decoration: underline;
                }
              }
            }
            & .recent_not_search {
              display: flex;
              justify-content: center;
              align-items: center;
              padding: 50px 0;
              &[aria-hidden="true"] {
                display: none;
              }
              &[aria-hidden="false"] {
                display: block;
              }
              & .recent_not_search_text {
                font-size: 14px;
                color: map-get($color-type, grey-01);
                text-align: center;
              }
            }
            .recent_search {
              padding: 20px 0px 0px 0px;
              &[aria-hidden="true"] {
                display: none;
              }
              &[aria-hidden="false"] {
                display: block;
              }
            }
          }
          & .best_search {
            padding-top: 30px;
            & .best_tit {
              display: flex;
              justify-content: space-between;
              align-items: center;
              & .tit {
                font-weight: 700;
                font-size: 20px;
                line-height: 30px;
              }
              & .best_time {
                font-size: 14px;
                line-height: 20px;
                color: map-get($color-type, grey-01);
              }
            }
            & .best_list {
              display: flex;
              flex-wrap: wrap;
              margin-top: 20px;
              border-top: 1px solid map-get($color-line, grey-02);
              counter-reset: number;
              & .best_item {
                position: relative;
                padding: 17px 0 16px 54px;
                width: 50%;
                border-bottom: 1px solid map-get($color-line, grey-02);
                &::before {
                  @include position(50%, null, null, 0px, null);
                  display: flex;
                  justify-content: center;
                  width: 20px;
                  font-weight: 700;
                  font-size: 16px;
                  transform: translateY(-50%);
                  content: counter(number);
                  counter-increment: number;
                }
                &:nth-of-type(-n + 3)::before {
                  color: map-get($color-type, red-01);
                }
                &::after {
                  display: block;
                  @include position(50%, null, null, 24px, null);
                  width: 16px;
                  height: 16px;
                  background: url("/ecoproduce/img/sprites/sprites.png") no-repeat;
                  transform: translateY(-50%);
                  content: "";
                }
                &.maintain::after {
                  background-position: -16px -16px;
                }
                &.down::after {
                  background-position: -0px -16px;
                }
                &.up::after {
                  background-position: -16px -0px;
                }
              }
            }
          }
          & .ad {
            padding: 30px 0;
            & .ad_list {
              display: flex;
              & .ad_item {
                width: calc(50% - 10px);
                & + .ad_item {
                  margin-left: 20px;
                }
              }
              & img {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  #app {
    display: none;
  }
}
