// 카테고리 페이지 (Desktop)
@media screen and (min-width: 1024px) {
  .common_wrap {
    & .common_section {
      &.section_category {
        display: none;
      }
    }
  }
}

// 카테고리 페이지 (반응형)
@media screen and (max-width: 1023px) {
  .common_wrap {
    & .common_section {
      &.section_category {
        padding: 0px;
        & .category_header {
          display: flex;
          justify-content: space-between;
          align-items: center;
          background-color: map-get($color-main, color-black);
          @media screen and (max-width: 767px) {
            padding: 8px 20px;
          }
          @media screen and (min-width: 768px) and (max-width: 1023px) {
            padding: 13px 20px;
          }
          & .user_btn_box {
            display: flex;
            align-items: center;
            & .user_btn_box_list {
              display: flex;
              & .user_btn_box_item {
                & + .user_btn_box_item {
                  margin-left: 15px;
                }
                & .user_btn_box_link {
                  display: flex;
                  align-items: center;
                  & .user_btn_box_text {
                    display: inline-block;
                    font-size: 14px;
                    line-height: 20px;
                    font-weight: 700;
                    color: map-get($color-main, color-white);
                  }
                }
              }
            }
          }
          & .close_btn {
            padding: 5px 0 5px 5px;
          }
        }
        & .category_content {
          @media screen and (max-width: 767px){
            height: calc(100vh - 110px);
          }
          @media screen and (min-width: 768px) and (max-width: 1023px) {
            height: calc(100vh - 120px);
          }
          & .category_content_list.dep1 {
            padding: 15px 20px;
            & .category_content_item {
              position: relative;
              & .category_content_link {
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-weight: 700;
                line-height: 45px;
                & .category_content_text {
                  position: relative;
                  display: block;
                }
              }
            }
            & .category_content_list.dep2 {
              display: none;
              padding: 10px 0;
              background-color: map-get($color-background, grey-02);
              &[aria-hidden="false"] {
                display: block;
              }
              & .category_content_link {
                font-weight: 400;
                font-size: 14px;
                line-height: 40px;
                color: map-get($color-type, grey-01);
              }
            }
          }
        }
      }
    } 
  }
}
