/* section_heading */
@media screen and (min-width: 1024px) {
  .common_section {
    .section_heading {
      position: relative;
      margin-bottom: 30px;
      & .section_title {
        font-weight: 700;
        font-size: 30px;
        line-height: 30px;
        @include font-family("GmarketSans");
        & .section_title_countdown {
          color: map-get($color-type, red-01);
        }
      }
      & .section_sub_title {
        margin-top: 6px;
        font-weight: 100;
        line-height: 24px;
        color: map-get($color-type, grey-01);
      }
      & .section_link {
        @include position(50%, 0px, null, null, null);
        display: flex;
        align-items: center;
        transform: translateY(-50%);
        & .link_text {
          display: block;
          margin-right: 5px;
          font-weight: 700;
          line-height: 24px;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .common_section {
    .section_heading {
      position: relative;
      margin-bottom: 25px;
      & .section_title {
        font-weight: 700;
        font-size: 24px;
        line-height: 30px;
        @include font-family("GmarketSans");
        & .section_title_countdown {
          color: map-get($color-type, red-01);
        }
      }
      & .section_sub_title {
        margin-top: 6px;
        font-weight: 100;
        line-height: 24px;
        color: map-get($color-type, grey-01);
      }
      & .section_link {
        @include position(50%, 0px, null, null, null);
        display: flex;
        align-items: center;
        transform: translateY(-50%);
        & .link_text {
          display: block;
          margin-right: 5px;
          font-weight: 700;
          font-size: 14px;
          line-height: 20px;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .common_section {
    .section_heading {
      position: relative;
      margin-bottom: 20px;
      & .section_title {
        font-weight: 700;
        font-size: 20px;
        line-height: 30px;
        @include font-family("GmarketSans");
        & .section_title_countdown {
          color: map-get($color-type, red-01);
        }
      }
      & .section_sub_title {
        margin-top: 6px;
        font-weight: 100;
        font-size: 14px;
        line-height: 20px;
        color: map-get($color-type, grey-01);
      }
      & .section_link {
        @include position(50%, 0px, null, null, null);
        display: flex;
        align-items: center;
        transform: translateY(-50%);
        & .link_text {
          display: block;
          margin-right: 5px;
          font-weight: 700;
          font-size: 14px;
          line-height: 20px;
        }
      }
    }
  }
}

/* product */
@media screen and (min-width: 1024px) {
  .common_section {
    & .product_grid {
      & .product_grid_list {
        display: flex;
        flex-wrap: wrap;
        &.col1 {
          margin-bottom: -70px;
          & .product_grid_item {
            width: calc((100% - 60px) / 3);
            margin-bottom: 70px;
            &:not(:nth-of-type(3n)) {
              margin-right: 30px;
            }
          }
          & .product_grid_link {
            display: block;
            & .product_grid_box {
              & .product_img_box {
                overflow: hidden;
                position: relative;
                border-radius: 8px;
                & img {
                  width: 100%;
                  transition: 0.3s all ease;
                  &:hover {
                    scale: 1.1;
                  }
                }
                & .common_btn {
                  @include position(null, 10px, 10px, null, null);
                }
              }
              & .product_info {
                margin-top: 16px;
                & .product_name {
                  & .name {
                    @include ellipsis-single(100%);
                    display: block;
                    font-weight: 700;
                    line-height: 24px;
                  }
                  & .weight {
                    display: block;
                    font-weight: bold;
                    font-size: 14px;
                    line-height: 20px;
                    color: map-get($color-type, grey-02);
                  }
                }
                & .product_price {
                  margin: 16px 0px 10px 0;
                  & span {
                    display: inline-block;
                    margin-right: 5px;
                  }
                  & .discount_rate {
                    font-weight: 900;
                    font-size: 20px;
                    line-height: 30px;
                    color: map-get($color-type, red-01);
                  }
                  & .discount_price {
                    font-weight: 900;
                    font-size: 20px;
                    line-height: 30px;
                  }
                  & .price {
                    font-weight: 100;
                    line-height: 30px;
                    color: map-get($color-type, grey-02);
                  }
                }
              }
            }
          }
        }
        &.col2 {
          & .product_grid_item {
            width: calc((100% - 60px) / 3);
            &:not(:nth-of-type(3n)) {
              margin-right: 30px;
            }
          }
          & .product_grid_link {
            display: block;
            & .product_grid_box {
              & .product_img_box {
                overflow: hidden;
                position: relative;
                border-radius: 8px;
                & img {
                  width: 100%;
                  transition: 0.3s all ease;
                  &:hover {
                    scale: 1.1;
                  }
                }
                & .common_btn {
                  @include position(null, 10px, 10px, null, null);
                }
                & .common_flag_v1 {
                  @include position(null, null, 10px, 10px, null);
                }
              }
              & .product_info {
                margin-top: 16px;
                & .product_name {
                  & .name {
                    @include ellipsis-single(100%);
                    display: block;
                    font-weight: 700;
                    line-height: 24px;
                  }
                  & .weight {
                    display: block;
                    font-weight: bold;
                    font-size: 14px;
                    line-height: 20px;
                    color: map-get($color-type, grey-02);
                  }
                }
                & .product_price {
                  margin: 16px 0px 10px 0;
                  & span {
                    display: inline-block;
                    margin-right: 5px;
                  }
                  & .discount_rate {
                    font-weight: 900;
                    font-size: 20px;
                    line-height: 30px;
                    color: map-get($color-type, red-01);
                  }
                  & .discount_price {
                    font-weight: 900;
                    font-size: 20px;
                    line-height: 30px;
                  }
                  & .price {
                    font-weight: 100;
                    line-height: 30px;
                    color: map-get($color-type, grey-02);
                  }
                }
              }
            }
          }
        }
        &.col3 {
          & .product_grid_item {
            width: calc((100% - 60px) / 4);
            &:not(:last-of-type) {
              margin-right: 20px;
            }
          }
          & .product_grid_link {
            display: block;
            & .product_grid_box {
              position: relative;
              padding: 10px;
              &::before {
                @include position(0px, null, null, 0px, null);
                display: block;
                width: 100%;
                height: 100%;
                border: 1px solid map-get($color-line, black-02);
                border-radius: 8px;
                content: '';
              }
              & .product_img_box {
                overflow: hidden;
                position: relative;
                border-radius: 8px;
                & img {
                  width: 100%;
                  border-radius: 8px;
                }
              }
              & .product_review_box {
                padding: 10px 10px 0px 10px;
                & .product_info {
                  padding: 10px 0px;
                  border-top: 1px solid map-get($color-line, black-02);
                  border-bottom: 1px solid map-get($color-line, black-02);
                  & .info {
                    margin-bottom: 10px;
                    & .name {
                      @include ellipsis-single(100%);
                      display: block;
                      font-weight: 700;
                      line-height: 24px;
                    }
                    & .weight {
                      font-weight: 700;
                      font-size: 14px;
                      line-height: 20px;
                      color: map-get($color-type, grey-02);
                    }
                  }
                  & .eval {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    & .text {
                      display: inline-block;
                      margin-right: 4px;
                      font-weight: 700;
                      font-size: 14px;
                      line-height: 20px;
                      color: map-get($color-type, grey-01);
                    }
                    & .number {
                      display: inline-block;
                      font-weight: 700;
                      font-size: 14px;
                      line-height: 20px;
                    }
                  }
                }
                & .product_review {
                  padding: 10px 0px;
                  & .post {
                    @include ellipsis-multi(100%, 60px, 3);
                    margin-bottom: 10px;
                    font-size: 14px;
                    line-height: 20px;
                  }
                  & .post_info {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    & .name, .post_time {
                      font-weight: 100;
                      font-size: 14px;
                      line-height: 20px;
                      color: map-get($color-type, grey-01);
                    }
                  }
                }
              }   
            }
          }
        }
        &.col4 {
          & .product_grid_item {
            width: 25%;
          }
          & .product_grid_link {
            display: block;
            & .product_grid_box {
              & .product_img_box {
                & img {
                  width: 100%;
                }
              }
            }
          }
        }
        &.col5 {
          @media screen and (min-width: 1024px) and (max-width: 1239px) {
            overflow-x: scroll;
            flex-wrap: nowrap;
            &::-webkit-scrollbar {
              display: none;
            }
          }
          & .product_grid_item {
            width: calc((1200px - 60px) / 6);
            @media screen and (min-width: 1024px) and (max-width: 1239px) {
              flex: 0 0 190px;
            }
            &:not(:last-of-type) {
              margin-right: 12px;
            }
            & .product_grid_link {
              display: block;
              & .product_card_box {
                padding: 15px 20px;
                border-radius: 10px;
                &.nh_card {
                  border: 2px solid map-get($color-line, blue-01);
                }
                &.kb_card {
                  border: 2px solid map-get($color-line, grey-01);
                }
                &.sh_card {
                  border: 2px solid map-get($color-line, blue-02);
                }
                &.hn_card {
                  border: 2px solid map-get($color-line, green-01);
                }
                &.kakaopay {
                  border: 2px solid map-get($color-line, yellow-01);
                }
                &.tosspay {
                  border: 2px solid map-get($color-line, blue-03);
                }
                & .card_percent {
                  display: block;
                  font-weight: 700;
                  line-height: 24px;
                  margin-bottom: 4px;
                }
                & .card_text {
                  display: block;
                  margin-bottom: 10px;
                  font-size: 14px;
                  line-height: 20px;
                  color: map-get($color-type, grey-01);
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .common_section {
    & .product_grid {
      & .product_grid_list {
        display: flex;
        flex-wrap: wrap;
        &.col1 {
          margin-bottom: -60px;
          & .product_grid_item {
            width: calc((100% - 30px) / 2);
            margin-bottom: 60px;
            &:not(:nth-of-type(2n)) {
              margin-right: 30px;
            }
          }
          & .product_grid_link {
            display: block;
            & .product_grid_box {
              & .product_img_box {
                overflow: hidden;
                position: relative;
                border-radius: 8px;
                & img {
                  width: 100%;
                }
                & .common_btn {
                  @include position(null, 10px, 10px, null, null);
                }
              }
              & .product_info {
                margin-top: 16px;
                & .product_name {
                  & .name {
                    @include ellipsis-single(100%);
                    display: block;
                    font-weight: 700;
                    line-height: 24px;
                  }
                  & .weight {
                    display: block;
                    font-weight: bold;
                    font-size: 14px;
                    line-height: 20px;
                    color: map-get($color-type, grey-02);
                  }
                }
                & .product_price {
                  margin: 16px 0px 10px 0;
                  & span {
                    display: inline-block;
                    margin-right: 5px;
                  }
                  & .discount_rate {
                    font-weight: 900;
                    font-size: 20px;
                    line-height: 30px;
                    color: map-get($color-type, red-01);
                  }
                  & .discount_price {
                    font-weight: 900;
                    font-size: 20px;
                    line-height: 30px;
                  }
                  & .price {
                    font-weight: 100;
                    line-height: 30px;
                    color: map-get($color-type, grey-02);
                  }
                }
              }
            }
          }
        }
        &.col2 {
          margin-bottom: -60px;
          & .product_grid_item {
            width: 100%;
            margin-bottom: 60px;
          }
          & .product_grid_link {
            display: block;
            & .product_grid_box {
              & .product_img_box {
                overflow: hidden;
                position: relative;
                border-radius: 8px;
                & img {
                  width: 100%;
                }
                & .common_btn {
                  @include position(null, 10px, 10px, null, null);
                }
                & .common_flag_v1 {
                  @include position(null, null, 10px, 10px, null);
                }
              }
              & .product_info {
                margin-top: 16px;
                & .product_name {
                  & .name {
                    @include ellipsis-single(100%);
                    display: block;
                    font-weight: 700;
                    line-height: 24px;
                  }
                  & .weight {
                    display: block;
                    font-weight: bold;
                    font-size: 14px;
                    line-height: 20px;
                    color: map-get($color-type, grey-02);
                  }
                }
                & .product_price {
                  margin: 16px 0px 10px 0;
                  & span {
                    display: inline-block;
                    margin-right: 5px;
                  }
                  & .discount_rate {
                    font-weight: 900;
                    font-size: 20px;
                    line-height: 30px;
                    color: map-get($color-type, red-01);
                  }
                  & .discount_price {
                    font-weight: 900;
                    font-size: 20px;
                    line-height: 30px;
                  }
                  & .price {
                    font-weight: 100;
                    line-height: 30px;
                    color: map-get($color-type, grey-02);
                  }
                }
              }
            }
          }
        }
        &.col3 {
          overflow: scroll;
          flex-wrap: nowrap;
          width: 100%;
          &::-webkit-scrollbar {
            display: none;
          }
          & .product_grid_item {
            flex: 0 0 285px;
            &:not(:last-of-type) {
              margin-right: 20px;
            }
          }
          & .product_grid_link {
            display: block;
            & .product_grid_box {
              position: relative;
              padding: 10px;
              &::before {
                @include position(0px, null, null, 0px, null);
                display: block;
                width: 100%;
                height: 100%;
                border: 1px solid map-get($color-line, black-02);
                border-radius: 8px;
                content: '';
              }
              & .product_img_box {
                overflow: hidden;
                position: relative;
                border-radius: 8px;
                & img {
                  width: 100%;
                  border-radius: 8px;
                }
              }
              & .product_review_box {
                padding: 10px 10px 0px 10px;
                & .product_info {
                  padding: 10px 0px;
                  border-top: 1px solid map-get($color-line, black-02);
                  border-bottom: 1px solid map-get($color-line, black-02);
                  & .info {
                    margin-bottom: 10px;
                    & .name {
                      @include ellipsis-single(100%);
                      display: block;
                      font-weight: 700;
                      line-height: 24px;
                    }
                    & .weight {
                      font-weight: 700;
                      font-size: 14px;
                      line-height: 20px;
                      color: map-get($color-type, grey-02);
                    }
                  }
                  & .eval {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    & .text {
                      display: inline-block;
                      margin-right: 4px;
                      font-weight: 700;
                      font-size: 14px;
                      line-height: 20px;
                      color: map-get($color-type, grey-01);
                    }
                    & .number {
                      display: inline-block;
                      font-weight: 700;
                      font-size: 14px;
                      line-height: 20px;
                    }
                  }
                }
                & .product_review {
                  padding: 10px 0px;
                  & .post {
                    @include ellipsis-multi(100%, 60px, 3);
                    margin-bottom: 10px;
                    font-size: 14px;
                    line-height: 20px;
                  }
                  & .post_info {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    & .name, .post_time {
                      font-weight: 100;
                      font-size: 14px;
                      line-height: 20px;
                      color: map-get($color-type, grey-01);
                    }
                  }
                }
              }   
            }
          }
        }
        &.col4 {
          & .product_grid_item {
            width: 50%;
          }
          & .product_grid_link {
            display: block;
            & .product_grid_box {
              & .product_img_box {
                & img {
                  width: 100%;
                }
              }
            }
          }
        }
        &.col5 {
          overflow-x: scroll;
          flex-wrap: nowrap;
          &::-webkit-scrollbar {
            display: none;
          }
          & .product_grid_item {
            flex: 0 0 190px;
            &:not(:last-of-type) {
              margin-right: 12px;
            }
          }
          & .product_grid_link {
            display: block;
            & .product_card_box {
              padding: 15px 20px;
              border-radius: 10px;
              &.nh_card {
                border: 2px solid map-get($color-line, blue-01);
              }
              &.kb_card {
                border: 2px solid map-get($color-line, grey-01);
              }
              &.sh_card {
                border: 2px solid map-get($color-line, blue-02);
              }
              &.hn_card {
                border: 2px solid map-get($color-line, green-01);
              }
              &.kakaopay {
                border: 2px solid map-get($color-line, yellow-01);
              }
              &.tosspay {
                border: 2px solid map-get($color-line, blue-03);
              }
              & .card_percent {
                display: block;
                font-weight: 700;
                line-height: 24px;
                margin-bottom: 4px;
              }
              & .card_text {
                display: block;
                margin-bottom: 10px;
                font-size: 14px;
                line-height: 20px;
                color: map-get($color-type, grey-01);
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .common_section {
    & .product_grid {
      & .product_grid_list {
        display: flex;
        flex-wrap: wrap;
        &.col1 {
          margin-bottom: -50px;
          & .product_grid_item {
            margin-bottom: 50px;
            width: 100%;
          }
          & .product_grid_link {
            display: block;
            & .product_grid_box {
              & .product_img_box {
                overflow: hidden;
                position: relative;
                border-radius: 8px;
                & img {
                  width: 100%;
                }
                & .common_btn {
                  @include position(null, 10px, 10px, null, null);
                }
                & .common_flag {
                  @include position(null, null, 10px, 10px, null);
                }
              }
              & .product_info {
                margin-top: 16px;
                & .product_name {
                  & .name {
                    @include ellipsis-single(100%);
                    display: block;
                    font-weight: 700;
                    line-height: 24px;
                  }
                  & .weight {
                    display: block;
                    font-weight: bold;
                    font-size: 14px;
                    line-height: 20px;
                    color: map-get($color-type, grey-02);
                  }
                }
                & .product_price {
                  margin: 16px 0px 10px 0;
                  & span {
                    display: inline-block;
                    margin-right: 5px;
                  }
                  & .discount_rate {
                    font-weight: 900;
                    font-size: 20px;
                    line-height: 30px;
                    color: map-get($color-type, red-01);
                  }
                  & .discount_price {
                    font-weight: 900;
                    font-size: 20px;
                    line-height: 30px;
                  }
                  & .price {
                    font-weight: 100;
                    line-height: 30px;
                    color: map-get($color-type, grey-02);
                  }
                }
              }
            }
          }
        }
        &.col2 {
          margin-bottom: -50px;
          & .product_grid_item {
            width: 100%;
            margin-bottom: 50px;
          }
          & .product_grid_link {
            display: block;
            & .product_grid_box {
              & .product_img_box {
                overflow: hidden;
                position: relative;
                border-radius: 8px;
                & img {
                  width: 100%;
                }
                & .common_btn {
                  @include position(null, 10px, 10px, null, null);
                }
                & .common_flag_v1 {
                  @include position(null, null, 10px, 10px, null);
                }
              }
              & .product_info {
                margin-top: 16px;
                & .product_name {
                  & .name {
                    @include ellipsis-single(100%);
                    display: block;
                    font-weight: 700;
                    line-height: 24px;
                  }
                  & .weight {
                    display: block;
                    font-weight: bold;
                    font-size: 14px;
                    line-height: 20px;
                    color: map-get($color-type, grey-02);
                  }
                }
                & .product_price {
                  margin: 16px 0px 10px 0;
                  & span {
                    display: inline-block;
                    margin-right: 5px;
                  }
                  & .discount_rate {
                    font-weight: 900;
                    font-size: 20px;
                    line-height: 30px;
                    color: map-get($color-type, red-01);
                  }
                  & .discount_price {
                    font-weight: 900;
                    font-size: 20px;
                    line-height: 30px;
                  }
                  & .price {
                    font-weight: 100;
                    line-height: 30px;
                    color: map-get($color-type, grey-02);
                  }
                }
              }
            }
          }
        }
        &.col3 {
          overflow: scroll;
          flex-wrap: nowrap;
          width: 100%;
          &::-webkit-scrollbar {
            display: none;
          }
          & .product_grid_item {
            flex: 0 0 285px;
            &:not(:last-of-type) {
              margin-right: 20px;
            }
          }
          & .product_grid_link {
            display: block;
            & .product_grid_box {
              position: relative;
              padding: 10px;
              &::before {
                @include position(0px, null, null, 0px, null);
                display: block;
                width: 100%;
                height: 100%;
                border: 1px solid map-get($color-line, black-02);
                border-radius: 8px;
                content: '';
              }
              & .product_img_box {
                overflow: hidden;
                position: relative;
                border-radius: 8px;
                & img {
                  width: 100%;
                  border-radius: 8px;
                }
              }
              & .product_review_box {
                padding: 10px 10px 0px 10px;
                & .product_info {
                  padding: 10px 0px;
                  border-top: 1px solid map-get($color-line, black-02);
                  border-bottom: 1px solid map-get($color-line, black-02);
                  & .info {
                    margin-bottom: 10px;
                    & .name {
                      @include ellipsis-single(100%);
                      display: block;
                      font-weight: 700;
                      font-size: 14px;
                      line-height: 20px;
                    }
                    & .weight {
                      font-weight: 700;
                      font-size: 12px;
                      line-height: 18px;
                      color: map-get($color-type, grey-02);
                    }
                  }
                  & .eval {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    & .text {
                      display: inline-block;
                      margin-right: 4px;
                      font-weight: 700;
                      font-size: 12px;
                      line-height: 18px;
                      color: map-get($color-type, grey-01);
                    }
                    & .number {
                      display: inline-block;
                      font-weight: 700;
                      font-size: 12px;
                      line-height: 18px;
                    }
                  }
                }
                & .product_review {
                  padding: 10px 0px;
                  & .post {
                    @include ellipsis-multi(100%, 60px, 3);
                    margin-bottom: 10px;
                    font-size: 12px;
                    line-height: 18px;
                  }
                  & .post_info {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    & .name, .post_time {
                      font-weight: 100;
                      font-size: 12px;
                      line-height: 18px;
                      color: map-get($color-type, grey-01);
                    }
                  }
                }
              }   
            }
          }
        }
        &.col4 {
          & .product_grid_item {
            width: 50%;
          }
          & .product_grid_link {
            display: block;
            & .product_grid_box {
              & .product_img_box {
                & img {
                  width: 100%;
                }
              }
            }
          }
        }
        &.col5 {
          overflow-x: scroll;
          flex-wrap: nowrap;
          &::-webkit-scrollbar {
            display: none;
          }
          & .product_grid_item {
            flex: 0 0 190px;
            &:not(:last-of-type) {
              margin-right: 12px;
            }
          }
          & .product_grid_link {
            display: block;
            & .product_card_box {
              padding: 15px 20px;
              border-radius: 10px;
              &.nh_card {
                border: 2px solid map-get($color-line, blue-01);
              }
              &.kb_card {
                border: 2px solid map-get($color-line, grey-01);
              }
              &.sh_card {
                border: 2px solid map-get($color-line, blue-02);
              }
              &.hn_card {
                border: 2px solid map-get($color-line, green-01);
              }
              &.kakaopay {
                border: 2px solid map-get($color-line, yellow-01);
              }
              &.tosspay {
                border: 2px solid map-get($color-line, blue-03);
              }
              & .card_percent {
                display: block;
                font-weight: 700;
                line-height: 24px;
                margin-bottom: 4px;
              }
              & .card_text {
                display: block;
                margin-bottom: 10px;
                font-size: 14px;
                line-height: 20px;
                color: map-get($color-type, grey-01);
              }
            }
          }
        }
      }
    }
  }
}

/* button */
.common_section {
  & .sns_addview_btn {
    @media screen and (min-width: 1024px) {
      margin: 50px auto;
    }
    @media screen and (min-width: 768px) and (max-width: 1023px) {
      margin: 40px auto;
    }
    @media screen and (max-width: 767px) {
      margin: 30px auto;
    }
  }
}

// 행사상품 제어
.common_section {
  &.section_event_product {
    & .product_grid {
      & .product_grid_list {
        &[aria-hidden="true"] {
          display: none;
        }
        &[aria-hidden="false"] {
          display: flex;
        }
      } 
    }
  }
}