// 서브페이지 준비중인 페이지 (Desktop)
@media screen and (min-width: 1024px) {
  .common_wrap {
    & .common_container {
      & .common_section {
        &.section_prepare {
          display: flex;
          justify-content: center;
          align-items: center;
          padding-top: 0px;
          height: calc(100vh - 161px);
          & .prepare_message {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            & .main_message_text {
              padding: 20px 0px;
              font-weight: 700;
              font-size: 30px;
              color: map-get($color-main, color-black);
            }
            & .sub_message_text {
              display: block;
              font-size: 14px;
              line-height: 20px;
              color: map-get($color-type, grey-01);
              text-align: center;
            }
          }
        }
      }
    }
  }
}

// 서브페이지 준비중인 페이지 (반응형)
@media screen and (max-width: 1023px) {
  .common_wrap {
    & .common_container {
      & .common_section {
        &.section_prepare{
          @media screen and (max-width: 767px) {
            height: calc(100vh - 121px);
          }
          @media screen and (min-width: 768px) and (max-width: 1023px) {
            height: calc(100vh - 131px);
          }
          padding: 0px;
          & .prepare_message {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: map-get($color-main, color-black);
            & .main_message_text {
              padding: 20px 0;
              font-weight: 700;
              font-size: 30px;
              color: map-get($color-main, color-black);
            }
            & .sub_message_text {
              display: block;
              font-size: 14px;
              line-height: 20px;
              color: map-get($color-type, grey-01);
              text-align: center;
            }
          }
        } 
      }
    }
  }
}