.toolbar_call_app {
  @include respond-fixed(0px, null, null, 0px, 1000);
  display: none;
  & .call_header {
    display: flex;
    justify-content: flex-end;
    padding: 8px 20px;
    background-color: map-get($color-main, color-black);
    & .close_btn {
      padding: 4px 0px 4px 4px;
    }
  }
  & .message_container {
    
  }
}

.toolbar_order_app {
  @include respond-fixed(0px, null, null, 0px, 1000);
  display: none;
}

.toolbar_mypage_app {
  @include respond-fixed(0px, null, null, 0px, 1000);
  display: none;
}
