@media screen and (min-width: 1024px) {
  .common_section {
    &.section_story {
      & .product_grid {
        & .story_tab_box {
          &.producer_box {
            & .product_grid_list {
              & .product_grid_item {
                & .product_grid_link {
                  & .product_info {
                    & .info {
                      margin-bottom: 0px;
                    }
                  }
                }
              }
            }
          }
          &[aria-hidden="false"] {
            display: block;
          }
          &[aria-hidden="true"] {
            display: none;
          }
          & .product_grid_list {
            &.expanded_list {
              margin-top: 70px;
              &[aria-hidden="false"] {
                display: flex;
              }
              &[aria-hidden="true"] {
                display: none;
              }
            }
          }
        }
        & .common_btn {
          &.type_addview_v2 {
            margin: 50px auto 0px auto;
          }
        }
      }
      & .common_tab {
        &.type_title_v1 {
          & .common_tab_item {
            & .section_heading {
              &[aria-selected="true"] {
                display: block;
              }
              &[aria-selected="false"] {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1023px) {
  .common_section {
    &.section_story {
      & .product_grid {
        & .story_tab_box {
          & .product_grid_list {
            &.expanded_list {
              display: none;
            }
          }
          &[aria-hidden="false"] {
            display: block;
          }
          &[aria-hidden="true"] {
            display: none;
          }
        }
      }
      & .common_btn {
        &.type_addview_v2 {
          display: none;
        }
      }
      & .common_tab {
        &.type_title_v1 {
          & .common_tab_item {
            & .section_heading {
              &[aria-selected="true"] {
                display: block;
              }
              &[aria-selected="false"] {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}