body {
  background-color: map-get($color-main, color-white);
  & .is-fixed {
    overflow: hidden;
  }
}

@media screen and (min-width: 1024px) {
  #common_container {
    &::after {
      @include position(160px, null, null, 0px, 1);
      display: block;
      width: 100%;
      height: 1px;
      background-color: map-get($color-line, black-01);
      content: "";
    }
    & .common_section {
      & + .common_section {
        @include container;
        @media screen and (min-width: 1024px) and (max-width: 1240px) {
          @include inner;
        }
        padding-top: 70px;
      }
      &.section_main_banner {
        overflow: hidden;
        height: 600px;
      }
      &.section_weekly_best {
        margin-bottom: -70px;
      }
    }
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  #common_container {
    &::after {
      @include position(60px, null, null, 0px, null);
      display: block;
      width: 100%;
      height: 1px;
      background-color: map-get($color-line, black-01);
      content: "";
    }
    & .common_section {
      & + .common_section {
        @include inner;
        padding-top: 60px;
      }
      &.section_weekly_best {
        margin-bottom: -60px;
      }
    }
  }
}
@media screen and (max-width: 767px) {
  #common_container {
    &::after {
      @include position(50px, null, null, 0px, null);
      display: block;
      width: 100%;
      height: 1px;
      background-color: map-get($color-line, black-01);
      content: "";
    }
    & .common_section {
      & + .common_section {
        @include inner;
        padding-top: 50px;
      }
      &.section_weekly_best {
        margin-bottom: -50px;
      }
    }
  }
}
