@media screen and (max-width: 1023px) {
  .toolbar {
    @include toolbar;
    & .toolbar_list {
      display: flex;
      & .toolbar_item {
        width: calc(100% / 5);
        // 툴바 홈버튼
        & .toolbar_link {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 100%;
          padding: 9px 0;
          &[aria-current="page"]{
            & .toolbar_text {
              color: map-get($color-main, color-primary);
            }
          }
          & .toolbar_text {
            margin-top: 6px;
            font-weight: 100;
            font-size: 12px;
            line-height: 12px;
            color: map-get($color-type, grey-01);
          }
        }
      }
    }
  }
}
@media screen and (min-width: 1024px) {
  .toolbar {
    display: none;
  }
}
