button {
	padding: 0;
	border: none;
	border-radius: 0;
	background-color: transparent;
	appearance: none;
	cursor: pointer;
}
.recent_search_list {
	display: flex;
	flex-wrap: wrap;
	margin-top: 20px;
	& .recent_search_item {
		margin: 0px 5px 10px 0px;
		& .recent_search_btn_container {
			position: relative;
			border: 1px solid map-get($color-line, grey-02);
			border-radius: 15px;
			& .recent_search_link {
				display: block;
				padding: 5px 25px 5px 10px;
				font-size: 14px;
				line-height: 20px;
			}
			& .recent_del_btn {
				@include position(5px, 5px, null, null, null);
				display: flex;
				justify-content: center;
				align-items: center;
				padding: 4px;
			}
		}
	}
}